.article-entry img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1.5em auto;
}

.thumbnail-image img {
    float: right;
}
 
.thumbnail-image img {
    max-width: 25%;
    height: auto;
    display: block;
    margin: 1.5em auto;
}

code {
    font-size: 0.9em;
}